<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pesquisar Links</title>
</head>
<body style="margin-left: 20px;">
    <h1>Pesquisar Links que Apontam para uma Página</h1>
    
    <form action="/search-linksto" method="post">
        <input type="text" name="query-links" placeholder="Digite a URL" required>
        <button type="submit">Pesquisar</button>
    </form>
    
    <div th:if="${error}" style="color: red;" th:text="${error}"></div>

	<div style="margin-top: 20px;">
        <a th:href="@{/}">Ir para o menu principal</a>
    </div>
</body>
</html>
